<!--
HTML code for the scheduling page of the Wireless Outles Controller function.

Bottom line, this page allows the user to schedule an existing sector to switch
to a desired state at a particular time

@author: Scythron
@date 21 April 2019
-->

<html>

<head>
<link rel="stylesheet" href='/static/style.css' />
<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
<title>Scheduling</title>
</head>

<body>

<!-- The navigation bar -->
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/schedule.html">Schedule</a></li>
</ul>

<h1>Schedule</h1>

</body>

</html>